1. Introduction to Pandas Data Structures

1.1 DataFrame Basics
A DataFrame is a 2D labeled data structure (like a spreadsheet) with columns of different types.

In [1]:
import pandas as pd

# Create a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'Salary': [50000, 60000, 70000]
}
df = pd.DataFrame(data)

print("Basic DataFrame:")
print(df)

Basic DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

1.2 Series Basics
A Series is a 1D labeled array (like a column in a DataFrame).

In [2]:
# Create a Series
s = pd.Series([10, 20, 30, 40], index=['a', 'b', 'c', 'd'])
print("\nSeries example:")
print(s)

Series example:
a    10
b    20
c    30
d    40
dtype: int64

2. Data Selection & Indexing

2.1 Selecting Columns

In [4]:
# Single column (returns Series)
print("\nAge column:")
print(df['Age'])

# Multiple columns (returns DataFrame)
print("\nName and Age columns:")
print(df[['Name', 'Age']])

Age column:
0    25
1    30
2    35
Name: Age, dtype: int64

Name and Age columns:
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

2.2 Label-based Selection (loc)

In [5]:
# Select first row by label
print("\nFirst row (using loc):")
print(df.loc[0])

# Select rows 0 to 2 (inclusive)
print("\nRows 0 to 2 (inclusive):")
print(df.loc[0:2])

First row (using loc):
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

Rows 0 to 2 (inclusive):
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   60000
2  Charlie   35   70000

2.3 Position-based Selection (iloc)

In [6]:
# Select first row by position
print("\nFirst row (using iloc):")
print(df.iloc[0])

# Select rows 0 and 1 (exclusive of 2)
print("\nRows 0 and 1 (using iloc):")
print(df.iloc[0:2])

First row (using iloc):
Name      Alice
Age          25
Salary    50000
Name: 0, dtype: object

Rows 0 and 1 (using iloc):
    Name  Age  Salary
0  Alice   25   50000
1    Bob   30   60000

2.4 Conditional Selection

In [7]:
# Select rows where Age > 25
print("\nPeople older than 25:")
print(df[df['Age'] > 25])

People older than 25:
      Name  Age  Salary
1      Bob   30   60000
2  Charlie   35   70000

3. Data Manipulation

3.1 Modifying Data

In [9]:
# Update a specific cell
df.loc[1, 'Salary'] = 65000
print("\nUpdated DataFrame:")
print(df)

Updated DataFrame:
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   65000
2  Charlie   35   70000

3.2 Adding New Columns

In [10]:
# Add a new column
df['Bonus'] = df['Salary'] * 0.1  # 10% bonus
print("\nDataFrame with Bonus column:")
print(df)

DataFrame with Bonus column:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
1      Bob   30   65000  6500.0
2  Charlie   35   70000  7000.0

3.3 Dropping Columns/Rows

In [11]:
# Drop a column
df_dropped = df.drop('Bonus', axis=1)
print("\nDataFrame after dropping 'Bonus':")
print(df_dropped)

# Drop a row
df_dropped_row = df.drop(1, axis=0)
print("\nDataFrame after dropping row 1:")
print(df_dropped_row)

DataFrame after dropping 'Bonus':
      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   65000
2  Charlie   35   70000

DataFrame after dropping row 1:
      Name  Age  Salary   Bonus
0    Alice   25   50000  5000.0
2  Charlie   35   70000  7000.0

4. Handling Missing Data

4.1 Detecting Missing Values

In [12]:
# Create a DataFrame with missing values
df_nulls = pd.DataFrame({
    'A': [1, 2, None],
    'B': [None, 5, 6]
})

print("\nCheck for missing values:")
print(df_nulls.isnull())

print("\nCount of missing values per column:")
print(df_nulls.isnull().sum())

Check for missing values:
       A      B
0  False   True
1  False  False
2   True  False

Count of missing values per column:
A    1
B    1
dtype: int64

4.2 Filling Missing Values

In [13]:
# Fill missing values with 0
df_filled = df_nulls.fillna(0)
print("\nDataFrame after filling missing values:")
print(df_filled)

DataFrame after filling missing values:
     A    B
0  1.0  0.0
1  2.0  5.0
2  0.0  6.0

5. Grouping & Aggregation

5.1 Basic GroupBy

In [14]:
df_sales = pd.DataFrame({
    'Region': ['East', 'West', 'East', 'West'],
    'Sales': [100, 200, 150, 300]
})

# Group by 'Region' and compute mean sales
grouped = df_sales.groupby('Region')
print("\nMean sales by region:")
print(grouped.mean())

Mean sales by region:
        Sales
Region
East    125.0
West    250.0

5.2 Multiple Aggregations

In [15]:
# Compute multiple statistics
print("\nMultiple aggregations:")
print(grouped.agg(['sum', 'mean', 'max']))

Multiple aggregations:
       Sales
         sum   mean  max
Region
East     250  125.0  150
West     500  250.0  300

6. Merging & Joining DataFrames

6.1 Concatenation

In [16]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Vertical concatenation (stack rows)
print("\nVertical concatenation:")
print(pd.concat([df1, df2], axis=0))

# Horizontal concatenation (stack columns)
print("\nHorizontal concatenation:")
print(pd.concat([df1, df2], axis=1))

Vertical concatenation:
   A  B
0  1  3
1  2  4
0  5  7
1  6  8

Horizontal concatenation:
   A  B  A  B
0  1  3  5  7
1  2  4  6  8

6.2 Merging (SQL-like Joins)

In [17]:
left = pd.DataFrame({'key': ['a', 'b'], 'value': [1, 2]})
right = pd.DataFrame({'key': ['a', 'c'], 'value': [3, 4]})

# Inner join (intersection)
print("\nInner join:")
print(pd.merge(left, right, on='key', how='inner'))

# Left join (all from left, matching from right)
print("\nLeft join:")
print(pd.merge(left, right, on='key', how='left'))

Inner join:
  key  value_x  value_y
0   a        1        3

Left join:
  key  value_x  value_y
0   a        1      3.0
1   b        2      NaN

7. Time Series Operations

7.1 Working with Dates

In [18]:
df_dates = pd.DataFrame({
    'Date': ['2023-01-01', '2023-01-02'],
    'Value': [10, 20]
})

# Convert to datetime
df_dates['Date'] = pd.to_datetime(df_dates['Date'])
df_dates.set_index('Date', inplace=True)

print("\nDataFrame with datetime index:")
print(df_dates)

DataFrame with datetime index:
            Value
Date
2023-01-01     10
2023-01-02     20

7.2 Resampling Time Series

In [19]:
# Resample to monthly frequency (mean)
print("\nMonthly resampling:")
print(df_dates.resample('M').mean())

Monthly resampling:
            Value
Date
2023-01-31   15.0

8. String Operations

8.1 Basic String Manipulation

In [20]:
df['Name'] = df['Name'].str.lower()
print("\nNames in lowercase:")
print(df['Name'])

Names in lowercase:
0      alice
1        bob
2    charlie
Name: Name, dtype: object

8.2 Splitting Strings

In [21]:
df_names = pd.DataFrame({'FullName': ['Alice Smith', 'Bob Johnson']})
df_names[['First', 'Last']] = df_names['FullName'].str.split(' ', expand=True)
print("\nSplit names into First and Last:")
print(df_names)

Split names into First and Last:
      FullName  First     Last
0  Alice Smith  Alice    Smith
1  Bob Johnson    Bob  Johnson

9. Pivot Tables & Cross-Tabulation

9.1 Pivot Tables

In [22]:
df_pivot = pd.DataFrame({
    'AgeGroup': ['Young', 'Young', 'Old', 'Old'],
    'Gender': ['M', 'F', 'M', 'F'],
    'Income': [40000, 45000, 70000, 75000]
})

print("\nPivot table (mean income by AgeGroup and Gender):")
print(pd.pivot_table(df_pivot, values='Income', index='AgeGroup', columns='Gender', aggfunc='mean'))

Pivot table (mean income by AgeGroup and Gender):
Gender        F      M
AgeGroup
Old       75000  70000
Young     45000  40000

9.2 Cross-Tabulation

In [23]:
print("\nCross-tabulation (AgeGroup vs Gender):")
print(pd.crosstab(df_pivot['AgeGroup'], df_pivot['Gender']))

Cross-tabulation (AgeGroup vs Gender):
Gender    F  M
AgeGroup
Old       1  1
Young     1  1

10. File I/O Operations

10.1 Reading from CSV

In [2]:
import pandas as pd

df = pd.read_csv('D:\Corvit\Mardan\Huawei-HCCDA-AI-Corvit-Mardan-\Labs\Data Visualization\data.csv')
print("\nReading CSV: pd.read_csv('data.csv')")

Reading CSV: pd.read_csv('data.csv')

In [3]:
df.head()

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2023,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,930995,ANZSIC06 divisions A-S (excluding classes K633...
1,2023,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,821630,ANZSIC06 divisions A-S (excluding classes K633...
2,2023,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,84354,ANZSIC06 divisions A-S (excluding classes K633...
3,2023,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,25010,ANZSIC06 divisions A-S (excluding classes K633...
4,2023,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,832964,ANZSIC06 divisions A-S (excluding classes K633...

10.2 Writing to CSV

In [4]:
df.to_csv('output.csv', index=False)
print("\nDataFrame saved to 'output.csv'")

DataFrame saved to 'output.csv'

10.3 Reading from Excel

In [5]:
# df = pd.read_excel('data.xlsx', sheet_name='Sheet1')
print("\nReading Excel: pd.read_excel('data.xlsx')")

Reading Excel: pd.read_excel('data.xlsx')


### 1. MultiIndex Operations

- Set multiple columns as index for hierarchical data access
- Enables advanced selection using tuples (level1, level2)

In [7]:
df = pd.DataFrame({
    'AgeGroup': ['Adult','Adult','Minor','Minor'],
    'Gender': ['Male','Female','Male','Female'],
    'Income': [50000,60000,20000,30000]
})
df.set_index(['AgeGroup','Gender'], inplace=True)
df.loc[('Adult','Male')]  # Select specific combination

Income    50000
Name: (Adult, Male), dtype: int64

### 2. Fast Value Access
'''
- at[]: label-based scalar access (faster than loc for single values)
- iat[]: position-based integer access
'''

In [10]:
df.reset_index(inplace=True)
df.at[0,'Name']  # Get name of first record
df.iat[0,1]     # Get value at row 0, column 1

KeyError: 'Name'

### 3. Memory Optimization
'''
- Convert strings to 'category' dtype for memory savings
- Downcast numeric columns to smallest possible type
'''

In [ ]:


# %% [markdown]



# %% [markdown]

df['Gender'] = df['Gender'].astype('category')
df['Age'] = pd.to_numeric(df['Age'], downcast='integer')

# %% [markdown]
### 4. Large File Processing
'''
- Process huge files in manageable chunks
- Prevents memory overload
'''
for chunk in pd.read_csv('big_file.csv', chunksize=10000):
    process(chunk)  # Your processing function

# %% [markdown]
### 5. Query Method
'''
- SQL-like filtering syntax
- Cleaner than boolean indexing for complex conditions
'''
df.query('Age > 30 & Gender == "Male"')

# %% [markdown]
### 6. Missing Data Handling
'''
- interpolate(): Estimate missing values
- ffill/bfill: Forward/backward fill
- mean(): Fill with column average
'''
df['Age'].interpolate(method='linear')
df.fillna(method='ffill')  # Forward fill

# %% [markdown]
### 7. Data Transformation
'''
- apply(): Element-wise operations
- map(): Value remapping
'''
df['Income_K'] = df['Income'].apply(lambda x: x/1000)
df['AgeGroup'] = df['Age'].map(lambda x: 'Adult' if x >=18 else 'Minor')

# %% [markdown]
### 8. Advanced Aggregation
'''
- Multiple aggregation functions in one operation
- Custom statistics per column
'''
df.groupby('AgeGroup')['Income'].agg(['mean','max','min','std'])

# %% [markdown]
### 9. Reshaping Data
'''
- melt(): Convert wide to long format
- pivot(): Convert long to wide format
'''
pd.melt(df, id_vars=['Name'], value_vars=['Age','Income'])
df.pivot(index='Name', columns='variable', values='value')

# %% [markdown]
### 10. Window Operations
'''
- rolling(): Fixed-size moving windows
- expanding(): Growing window calculations
- shift(): Lagged values
'''
df['RollingMean'] = df['Value'].rolling(3).mean()
df['ExpandingSum'] = df['Value'].expanding().sum()
df['Lag1'] = df['Value'].shift(1)

# %% [markdown]
### 11. Display Options
'''
- Control DataFrame display settings
- Adjust max rows/columns and float formatting
'''
pd.set_option('display.max_rows', 100)
pd.set_option('display.float_format', '{:.2f}'.format)

# %% [markdown]
### 12. Time Zone Handling
'''
- Localize naive timestamps
- Convert between time zones
'''
df.index = df.index.tz_localize('UTC').tz_convert('Asia/Kolkata')

KeyError: 'Name'